<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen Ventas</title>


    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../stylesheets/dashboard.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

    <div class="col-md-12 cabecera">
        <div id="imagen">
            <img src="../views/img/logo2_preview_rev_1.png" alt="">
        </div>
        <div id="texto">
            <h2>Panel principal de Jefatura</h2>
        </div>
        <div id="volver">
            <a href="http://localhost/TallerWeb/views/loginBoss.html">
                <img id="volverimg" src="../views/img/logoutbutton.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="box">
        <div class="container">
            <div class="row d-flex justify-content-between">

                <div class="card ">

                    <div class="card-header bg-primary">
                        <h3 class="card-title d-flex justify-content-between">
                            <span class="float-left">Stock vehiculos</span>
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="box-part text-center">

                            <i class="fa fa-car fa-5x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Stock Vehículos sin vender</h4>
                            </div>

                            <div class="text">
                                <span>Stock Vehículos sin vender</span>
                            </div>

                            <a class="btn btn-primary" href="img/lara.jpg" style="width: 200px;">Ir</a>

                        </div>

                    </div>

                </div>

                <div class="card p-0 ">

                    <div class="card-header bg-warning">
                        <h3 class="card-title d-flex justify-content-between">
                            <span class="float-left">Ventas</span>
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="box-part text-center">

                            <i class="fa fa-balance-scale fa-5x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Resumen general de ventas</h4>
                            </div>

                            <div class="text">
                                <span>Resumen general de ventas</span>
                            </div>

                            <a class="btn btn-primary" href="resumenVentas.html" style="width: 200px;">Ir</a>

                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header bg-danger">
                        <h3 class="card-title d-flex justify-content-between">
                            <span class="float-left">Resumen empleado</span>
                        </h3>
                    </div>
                    <div class="card-body">

                        <div class="box-part text-center">

                            <i class="fa fa-barcode fa-5x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Resumen de ventas por empleado</h4>
                            </div>

                            <div class="text">
                                <span>Resumen de ventas por empleado</span>
                            </div>

                            <a class="btn btn-primary" href="img/roque.jpg" style="width: 200px;">Ir</a>

                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header badge-info">
                        <h3 class="card-title d-flex justify-content-between">
                            <span class="float-left">Reparaciones/Mantenimiento</span>
                        </h3>
                    </div>

                    <div class="card-body">

                        <div class="box-part text-center">

                            <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Total reparaciones/mantenimiento</h4>
                            </div>

                            <div class="text">
                                <span>Total reparaciones/mantenimiento</span>
                            </div>

                            <a class="btn btn-primary" href="img/ruben.jpg" style="width: 200px;">Ir</a>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row d-flex justify-content-between my-5">
                <div class="card">

                    <div class="card-header badge-success">
                        <h3 class="card-title d-flex justify-content-between">
                            <span class="float-left">Administración</span>
                        </h3>
                    </div>

                    <div class="card-body">

                        <div class="box-part text-center">

                            <i class="fa fa-address-card fa-5x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Administrar Usuarios</h4>
                            </div>

                            <div class="text">
                                <span>Administrar Usuarios</span>
                            </div>

                            <a class="btn btn-primary" href="img/sergio.jpg" style="width: 200px;">Ir</a>

                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="card-header badge-light">
                        <h3 class="card-title d-flex justify-content-between">
                            <span class="float-left">Base de datos</span>
                        </h3>
                    </div>

                    <div class="card-body">

                        <div class="box-part text-center">

                            <i class="fa fa-database fa-5x" aria-hidden="true"></i>

                            <div class="title">
                                <h4>Gestionar base de datos</h4>
                            </div>

                            <div class="text">
                                <span>Gestionar base de datos</span>
                            </div>

                            <a class="btn btn-primary" href="img/adri.jpg" style="width: 200px;">Ir</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles">

    </div>
</body>


<script src="../js/resumenVentas.js"></script>
<script src="../js/particles.js"></script>

</html>