<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen Ventas</title>


    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="../stylesheets/dashboard.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->



</head>

<body>

    <div class="col-md-12 cabecera">
        <div id="imagen">
            <img src="../views/img/logo2_preview_rev_1.png" alt="">
        </div>
        <div id="texto">
            <h2>Panel principal de Jefatura</h2>
        </div>
    </div>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="box">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fa fa-car fa-5x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Stock Vehículos sin vender</h4>
                        </div>

                        <div class="text">
                            <span>Stock Vehículos sin vender</span>
                        </div>

                        <a class="btn btn-primary" href="#" style="width: 200px;">Ir</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fa fa-balance-scale fa-5x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Resumen general de ventas</h4>
                        </div>

                        <div class="text">
                            <span>Resumen general de ventas</span>
                        </div>

                        <a class="btn btn-primary" href="resumenVentas.html" style="width: 200px;">Ir</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fa fa-barcode fa-5x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Resumen de ventas por empleado</h4>
                        </div>

                        <div class="text">
                            <span>Resumen de ventas por empleado</span>
                        </div>

                        <a class="btn btn-primary" href="#" style="width: 200px;">Ir</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fa fa-wrench fa-5x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Total reparaciones/mantenimiento</h4>
                        </div>

                        <div class="text">
                            <span>Total reparaciones/mantenimiento</span>
                        </div>

                        <a class="btn btn-primary" href="#" style="width: 200px;">Ir</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fa fa-address-card fa-5x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Administrar Usuarios</h4>
                        </div>

                        <div class="text">
                            <span>Administrar Usuarios</span>
                        </div>

                        <a class="btn btn-primary" href="#" style="width: 200px;">Ir</a>

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fa fa-database fa-5x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Gestionar base de datos</h4>
                        </div>

                        <div class="text">
                            <span>Gestionar base de datos</span>
                        </div>

                        <a class="btn btn-primary" href="#" style="width: 200px;">Ir</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>


<script src="../js/resumenVentas.js"></script>

</html>