.cabecera {
    border-bottom: #2A9D8F 5px solid;
}

#texto>h2 {
    font-size: 60px;
}

.container {
    padding-top: 6%;
}

#imagen {
    float: left;
}

body {
    background: #eee;
}

#texto {
    float: left;
    padding-top: 20px;
    font-size: 30px;
}

span {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #0062cc;
    border-bottom: 2px solid #0062cc;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}