/* Begin cabecera */

.cabecera {
    border-bottom: #2A9D8F 5px solid;
}

#imagen {
    float: left;
}

#volver2{
    float: right;
}

#volverimg2{
    width: 116px;
    height: 116px;
}

#texto {
    float: left;
    padding-top: 20px;
}


/* End cabecera */


/* Begin cuerpo */

.cuerpo {
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}


#informacion-resumen {
    float: left;
    display: inline;
    justify-content: space-around;
}

.bar {
    color: blue;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}